
* {
    margin: 0;
    padding: 0;
    font-family: "Spartan", sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    margin: 15px 0px;

}


html {
    scroll-behavior: smooth;
}


body {

    width: 100%;
    font-weight: 600;
}


/* Header Style Start  */


.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0px 2px 15px rgb(172, 171, 171);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;


}


.nav_link {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_link li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav_link li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    transition: 0.3s ease;
}


.nav_link li a:hover,
.nav_link li a.active {
    color: #088178;
}



.nav_link li a:hover::after,
.nav_link li a.active::after {
    content: "";
    width: 25%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -3px;
    left: 20px;

}

.nav_link .shopping-bag img {
    width: 30px;
    height: 30px;
}

/* Header style end */


/* Hero section style */

.hero {
    background-image: url(/img/hero4.png);
    height: 80ch;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero_title {
    color: #088178;
}

.hero_btn {
    border: none;
    background-image: url(/img/button.png);
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    font-size: 15px;
    font-weight: 600;
    color: #088178;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* feature section style */
.feature {
    display: flex;
    padding: 80px 30px ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


  }

.feature-box {
    width: 180px;
    padding: 20px 10px;
    text-align: center;
    justify-items: center;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.feature-box:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.06);
}
.feature-box img{
    width: 100%;
    margin-bottom: 20px;
}

.feature-box h6 {
    font-weight: 700;
    display: inline-block;
    padding: 9px 15px;
    line-height: 1;
    border-radius: 4px ;
    color: #088178;
    background-color: #fddde4;
}


.feature .feature-box:nth-child(2) h6{
    background-color: #cdebbc ;
}
.feature .feature-box:nth-child(3) h6{
    background-color: #d1e8f2 ;
}
.feature .feature-box:nth-child(4) h6{
    background-color: #cdd4f8 ;
}
.feature .feature-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
.feature .feature-box:nth-child(6) h6{
    background-color: #fff2e5;
}


/* Product section style start */
.product{
    padding: 0px 30px 80px 30px;
    text-align: center;
    align-items: center;
}

.product p{
    font-size: 18px;
    color: #848484;
    margin: 10px 0;
}

.pro-container{
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    
}

.pro-container .pro{
    width: 23%;
    min-width: 300px;
    border: 1px solid #eff3e4;
    border-radius: 25px; 
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.06);
    transition: ease-in-out;
    position: relative;
    margin-bottom: 35px;
    margin-left: 20px;
}
.pro-container .pro:hover{
    box-shadow:  10px 10px 15px rgba(0, 0, 0, 0.09);
}

.pro img{
    width: 100%;
    padding: 15px 15px 0 15px;
    border-radius: 35px;
   }

.pro .des{
    text-align: start;
    padding: 20px 10px;
}
.pro .des .cart-title{
    font-size: 18px;
    padding: 5px 0px;
}
.pro .des span{
    color:#848484;
}

.pro .des i{
    color: rgb(243, 181, 25);
    font-size: 12px;
}

.price{
    color: #088178;
    margin-top: 10px;
}


.pro a{
    text-decoration: none;
}

.pro .cart{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    font-weight: 700;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px ;
    right: 15px;
}



